<a href="https://colab.research.google.com/github/aooe120-maker/-/blob/main/Python2%EC%9D%BC%EC%B0%A8_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
이름 = "김오즈"
나이 = 30
키 = 180.3
소속 = "s매지기 서울북부"

In [5]:
print(type(이름))
print(type(나이))
print(type(키))
print(type(소속))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
print(float(5))
print(int(5.0))
print("5", "5.0")
print(type("5")), type("5.0")

5.0
5
5 5.0
<class 'str'>

(None, str)

str:문자열
특징:시퀀스자료형
시퀀스란? 요소들이 연속적으로 이어진 자료형
값 하나하나를 요소라고 합니다.

In [10]:
print(소속)
print(소속[0])
print(소속[1])
print(소속[2])
print(소속[3])
print(소속[4])
print(소속[5])
print(소속[6])
#0인덱스

s매지기 서울북부
s
매
지
기

서
울

In [12]:
"매" in 소속
"3" in 소속

False

In [13]:
# 문자열 즉 시퀀스 끼리 합치기

"13" + "금요일"

'13금요일'

In [19]:
#  복사가 가능합니다
옛날게임 = "바니바니 당근당근" *20
print(옛날게임)

퀴즈 = "차 4대가 고장나면? 카포에라"

바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근

In [20]:
퀴즈 = "차 4대가 고장나면? 카포에라"
print(퀴즈[12:16])
print(퀴즈[12:15])

카포에라
카포에

In [21]:
퀴즈[15]
퀴즈[-1]

'라'

In [26]:
생년월일 = "2000.12.25"

#2000 12 25

년 = 생년월일[0:4]
월 = 생년월일[5:7]
일 = 생년월일[8:11]
print(f'{년},{월},{일}')

2000,12,25

In [31]:
숫자 = "12314235423534623"
# 전체 출력
print(숫자[::])

#전체출력
print(숫자[::-1])

#첛번째 인덱스 기준으로 2칸씩 ㅅ띄어쓰기 출력하기
print(숫자[::2])
print(숫자[4:1:-1])

12314235423534623
32643532453241321
134343363
413

In [32]:
퀴즈 = "스님이 공중에 뜬다를 4글자로 말하면? 어중이떠중이"
print(퀴즈[22:28])

어중이떠중이

In [33]:
과자 = "apple"
과자.count("p")

2

In [36]:
과자[2]
과자.index("p")

1

In [38]:
라라랜드 = "사람들은 다른 사람들의 열정에 끌리게 되어있어 자신이 잊은 걸 상기시켜 주니까"

print(라라랜드[4:10])

 다른 사람

In [45]:
#bool의 쇼타임 시작됩니다.
# 주의할점 True true  False x false
# 부등호
3>1
3 == 1
3 == 3
20 != 5
20 != 20

False

In [46]:
#문자열 비교
"python" == "Python"
"Python" == "Python"
"Python" != "python"

True

In [49]:
5 >= 5
5 < 4
# 부등호

False

In [54]:
#중요 ,  ==, is

3 is 3
3 == 3

3.0 = 3
3.0 is 3

print(id(3.0))
print(id(3))

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-2321504159.py, line 6)

미션 : 값 비교에는 is 를 쓰면안되는데 그이유를 찾아서 기술 블로그에 작성해보세요

In [56]:
# 본격적인 논리연사자
# True : 1 / False : 0
True or True # 1+1=1
True or False # 1+0=0
False or True # 0+1=0
False or False #0+0=0

False

In [57]:
# not

not True

not False

True

In [ ]:
# 점점 복잡해지는 조건들!

10 == 12 or 6 != 2
2 > 5 and 7==7
not 14 <= 15
not 7 is 7.0

In [60]:
#문자열 ??  너 뭐야 true 야?

bool("힘들어요 여러분")

True

In [65]:
# 굉장히 중요한 내용
# 단락 평가
print(False and True)
print(False and "힘들어요")

print(True and False)

print(True and '힘들어요')

False
False
False
힘들어요