<a href="https://colab.research.google.com/github/aooe120-maker/-/blob/main/Python_2%EC%9D%BC%EC%B0%A8_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 주석은 이렇게 하는거다
print("진짜안보이나")
# print("신기하네")

진짜안보임?

In [ ]:
print("진짜안보이나")
# print("신기하네")

진짜안보임?

##사칙연산

더하기 : +
빼기 : -
곱하기 : *
나누기 :


*/ : 우리가 알고있는 나누기
*// :몫을 반환 (5/2=2)
*% :나머지를 반환 (5/2=1)

거듭제곱 :**

In [ ]:
# 더하기
print(3+2)

5

In [ ]:
# 빼기
print(3-1)

2

In [ ]:
# 곱하기
print(3*2)

6

In [ ]:
# /
print(7/2)

# //
print(7//2)

# ///
print(7%2)

3.5
3
1

내장함수 : divmod

>자주 사용하는 기능을 미리 만들어 놓은것

**divmod** : 몫과 나머지를 동시에 구해줌

In [ ]:
print(divmod(3,2))
print(divmod(3,2))
print(divmod(3,2))
print(divmod(3,2))

(1, 1)

In [ ]:
# 아아 : 5000원 / 아샷추 : 65000
# 아아 2잔 / 아샷추 3잔
(5000*2)+(6500*3)

29500

In [ ]:
(5000*2)+(6500*3)

29500

계산된 결과값이 다 날아가는 문제~ 어떻게 해결해야 할까요?
####변수

In [ ]:
# 하나의 값을 변수에 넣을 때
num = 1
print(num)

# 두개의 값을 변수에 넣을 때
num_1 , num_2 = 1, 2
print(num_1)
print(num_2)

print(num_1, num_2)

1
1
2
1 2

#

In [ ]:
# 변수를 사용하지 않을 때
# 이전에 계산된 결과를 저장할 수 있는 방법이 없음
1 + 2
1 + 2 + 3
1 + 2 + 3 + 4
1 + 2 + 3 + 4 + 5

15

In [ ]:
# 변수를 사용할 때
# 이전에 계산된 결과를 저장해서 사용할 수 있음
sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

15

### 변수에 값을 넣는 것 => 할당

sum = 1 + 2 => 1+2의 계산된 결과를 sum이라는 변수에 할당한다.

sum은 변수명이고 = 은 같다는 의미가 아니라 할당(assigment)이라고 합니다.

= 할당 연산자. + 산술 연산자.
+= 샨술 후 바로 할당하는 문법.
/=, -=, *= 모두가능.

In [ ]:
# 변수를 사용하면서 사용 가능한 문법

sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

sum2= 1 + 2
sum2 += 3
sum2 += 4
sum2 += 5

print(sum2)

15
15

In [ ]:
# 주의 ! 선언되지 않은 변수를 사용할 경우 에러발생

sum3 += 1

sum3 = 0

NameError: name 'sum3' is not defined

In [ ]:
# 변수에 어떤 값도 넣지않고 선언하는 방법

nothing = None
print(None)

None

In [ ]:
#대소문자를 구분하는
BIG = "크다"
big = "작다"

print(BIG,big)

크다 작다

In [ ]:
스네이크케이스(snake case)
변수명 : snake_case

카멜케이스(camel case)
변수명 camel case

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-4262916932.py, line 1)

In [ ]:
# 우린 변수를 만들때 스네이크케이스러 진행합니다. 그리고 언더바는 2개를 적용시켜주세요
# 개발에 관련된 여러 조건을 명시하는 것들을 코드 컨벤션이라고합니다.

box_shose = "스니커즈"
box_hat = "슈프림 모자"

print(box_shose)
print(box_hat)

스니커즈
슈프림 모자

In [ ]:
#print() 포메팅 3가지 f-string : print(f'[변수명]')

me = "파머"
print(f'{me}만 빼고 고양이 다 있어')

파머만 빼고 고양이 다 있어

In [ ]:
# 변수값 입력

fish__p, fish__s, fish__j = "붕어빵(팥)","붕어빵(슈크림)", "붕어빵(잡채)"

order_s__pay, order_j__pay = fish__s__sell * 2, fish__j_sell *3

total = order_s + order_j

print(f'주문이완료되었습니다.{fish__s} {order_S}개,{fish__j}개 {order_j} 총 {total}개 결제 금액은 {total_pay}원 입니다.')

NameError: name 'fish__s__sell' is not defined

In [ ]:
fish__ps = "붕어빵(팥)"
print(fish__ps)

TypeError: 'str' object is not callable

In [ ]:
print(f"{fish__p}")

TypeError: 'str' object is not callable

변수 : 하나의 값을 저자앟ㄹ 수 있는 공간을 생성하는 것

변수명을 만들때 컨벤션
변수를 표현하는 방법 : 스네이크, 카멜.   
변수를 활용해서 다양한문제

In [ ]:
#1. int(integer) : 정수
#2. float(float) : 실수
#3. str(string) : 문자
#4. bool(bool, boolean) : 참 또는 거짓 1 or 2

5. list
6. tuple
7. dict
8. set

In [ ]:
#1. 정수 + 실수 = 실수

9.0 + 3 = 12.0

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-731907340.py, line 3)

In [ ]:
#box_num에 숫자만 넣자는 약속을함 누군가 한글 표기법으로 숫자를 넣음

box_num="하나"
box_num+= 1
print(box_num)

TypeError: can only concatenate str (not "int") to str

In [ ]:
type(box_num)
type(1)

int

In [ ]:
# 2여야 하는데 2.0으로 출력될때 형벼환
# 말그대로 형태를 변형한다

# int float
#int -> float ex) 5->5.0.  float(5)

In [ ]:
print(float(5))
print(int(5.0))

TypeError: 'str' object is not callable

In [ ]:
나이 = 10
type(나이)
print(dir(나이))

TypeError: 'str' object is not callable

Python 3.13.7 (v3.13.7:bcee1c32211, Aug 14 2025, 19:10:51) [Clang 16.0.0 (clang-1600.0.26.6)] on darwin
Enter "help" below or click "Help" above for more information.
fish__p = "붕어빵(팥)"
print(fish__p)
붕어빵(팥)
나이=10
type(나이)
<class 'int'>
print(dir(나이))
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'is_integer', 'numerator', 'real', 'to_bytes']
print(나이,bit_length())
Traceback (most recent call last):
  File "<pyshell#5>", line 1, in <module>
    print(나이,bit_length())
NameError: name 'bit_length' is not defined
pritn(나이.bit_length())
Traceback (most recent call last):
  File "<pyshell#6>", line 1, in <module>
    pritn(나이.bit_length())
NameError: name 'pritn' is not defined. Did you mean: 'print'?
print(bin(나이))
0b1010